<div class="card m-3" data-bs-theme="dark">
    <a class="text-light" href="/api/post/{{id}}">
        <div class="card-header">
            {{title}}
        </div>

        <div class="card-body">
            {{description}}
        </div>

        <div class="card-footer">
            <div class="text-container">
                by {{user.firstName}} on {{format_date createdAt}}
            </div>
            <div class="button-container">
                <button type="button" class="btn btn-light btn-sm">Delete</button>
                <button type="button" class="btn btn-light btn-sm">Update</button>
            </div>
        </div>
    </a>
</div>