{{> post-details post}}

<button type="button" class="btn btn-light btn-width m-4" id="comment-Btn">
    Add Comment
</button>

<div class="m-5 hide">
    <div class="row" id="comment-form">
        <h3 class="text-light text-center">Add Comment</h3>
        <div class="form-floating m-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="comment-description"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2"></label>
        </div>

        <button type="button" data-id="{{post.id}}" class="btn btn-light btn-width" id="create-comment-Btn">
            Create
        </button>
    </div>
</div>

<hr />

{{#if post.comments.length}}
<h2 class="text-light">Comments</h2>
{{#each post.comments as |comment|}}
<div class="card m-3" data-bs-theme="dark">
    <div class="card-body">
        {{comment.comment}}
    </div>
    
    <div class="card-footer post-details-footer">
        <div class="text-container">
         {{comment.user.firstName}} {{format_date comment.createdAt}}
        </div>
        <button type="button" class="btn btn-light delete-comment-Btn" data-id="{{id}}">
            Delete
        </button>
    </div>
</div>
{{/each}}
{{else}}
<h3 class="text-light m-5">No comments</h3>
{{/if}}

<script src="/js/logout.js"></script>
<script src="/js/post.js"></script>
<script src="/js/home.js"></script>