{{> post-details post}}

<button type="button" class="btn btn-light btn-width m-4" id="comment-Btn">
    Add Comment
</button>

<div class="m-5 hide">
    <div class="row" id="comment-form">
        <h2 class="text-secondary text-center">Add Comment</h2>
        <div class="form-floating m-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="comment-description"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2"></label>
        </div>

        <button type="button" data-id="{{post.id}}" class="btn m-4 btn-light btn-width" id="create-comment-Btn">
            Create
        </button>
    </div>
</div>


{{#if post.comments.length}}
    <h2 class="text-secondary">Comments</h2>
    {{#each post.comments as |comment|}}
        <div class="card m-3" data-bs-theme="dark">
            <div class="card-body">
                {{comment.comment}}
            </div>

            <div class="card-footer">
                <div class="text-container">
                    By {{comment.user.firstName}} on {{format_date comment.createdAt}}
                </div>
                <div class="button-container">
                    <button type="button" class="btn btn-light btn-sm">Delete</button>
                    <button type="button" class="btn btn-light btn-sm">Update</button>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h2 class="text-secondary m-5">No comments</h2>
{{/if}}

<script src="/js/post.js"></script>